Flask
Flask_RESTful
Flask_Script
flask-security
pyodbc
--index-url https://ai_acc_quality:xm2weusrt7gulr6m4lgtvrytgbgyhnthkwyafsg6bsfb4z7brspq@pkgs.dev.azure.com/dacrook-samples/_packaging/ai_acc_quality/pypi/simple/
ai_acc_quality
flask_socketio
eventlet
pandas
scipy
azure
azure-eventhub
azure-cosmosdb-table