azure-functions==1.0.0b5
--index-url https://ai_acc_quality:xm2weusrt7gulr6m4lgtvrytgbgyhnthkwyafsg6bsfb4z7brspq@pkgs.dev.azure.com/dacrook-samples/_packaging/ai_acc_quality/pypi/simple/
ai_acc_quality
pypyodbc==1.3.5.2
azure-storage >= 0.34.3
pyodbc
azure
requests